body {
  margin: 0;
  padding: 0;
}

.full-page {
  height: 100vh;
  width: 100%;
  background-color: aqua;
  padding: 0;
  margin: 0;
}

.centered-text {
  text-align: center;
}

.members {
  display: grid;
  width: 100%;
  background-color: pink;
}

.member {
  width: 20%;
  height: 20%;
  background-color: brown;
  border: 5;
  border-color: black;
}

h1 {
  margin: 0;
}
h2 {
  margin: 0;
}

.pfp {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
}

footer {
  background-color: grey;
  color: white;
  /* text-align: center; */
  padding: 10px;
}