body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.full-page {
	height: 100vh;
	width: 100%;
	background-color: aqua;
	padding: 0;
	margin: 0;
}

.centered-text {
	text-align: center;
}

.members {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(1, 1fr);
	width: 100%;
	background-color: pink;
	gap: 1rem;
}

@media screen and (min-width: 628px) {
	.members {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1028px) {
	.members {
		grid-template-columns: repeat(3, 1fr);
	}
}

.member {
	max-width: fit-content;
	padding: 1em;
	background-color: brown;
	border: 1px solid black;
	border-radius: 1.75em;
	position: relative;
}

h1 {
	margin: 0;
}
h2 {
	margin: 0;
}

.pfp {
	width: 30vh;
	height: 30vh;
	border-radius: 50%;
}

footer {
	background-color: grey;
	color: white;
	/* text-align: center; */
	padding: 10px;
}
 
.socials {
	position: absolute;
	bottom: 0;
	right: 0;
	overflow: hidden;
	padding: 0.5em;
}

.beside {
	float: left;
	margin: 0.25em;
}